<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phonebook Service</title>
</head>
<body>
    <h1>Phonebook App </h1><br>
    <h2>
    <ol>
        <li><a href={{addnewcontactlink}}>Adding a contact</a></li>
        <!-- <li><a href={{link2}}>Modifying an existing contact</a></li> -->
        <li><a href={{getallcontactslink}}>Get all contacts</a></li>
        <li><a href={{searchcontactlink}}>Search a contact by name or email address</a></li>
        <li><a href={{deletecontactlink}}>Delete a contact by name or email address</a></li>
      </ol>
    </h2>
    
</body>
</html>